.myQuizzes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createQuiz {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createQuiz-btn {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 25px;
  color: white;
  background-color: #e67e22;
  border-radius: 12px;
  margin: 10px 0 0 0;
  outline: none;
  border: none;
  cursor: pointer;
}
